.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes fadeIn {
	0%, 35% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0%, 35% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0%, 35% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0%, 35% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes heroContentIn {
	0%, 35% {
		opacity: 0;
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}

	60% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@-moz-keyframes heroContentIn {
	0%, 35% {
		opacity: 0;
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}

	60% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@-ms-keyframes heroContentIn {
	0%, 35% {
		opacity: 0;
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}

	60% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes heroContentIn {
	0%, 35% {
		opacity: 0;
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}

	60% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@font-face {
	font-family: 'icons';
  src: url("icons7f72.eot?4977908887757733745");
  src: url("icons7f72.eot?4977908887757733745#iefix") format("embedded-opentype"), url("icons7f72.woff?4977908887757733745") format("woff"), url("icons7f72.ttf?4977908887757733745") format("truetype"), url("icons7f72.svg?4977908887757733745#timber-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

*, input, :before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

html, body {
	background-color: #fff;
}

[tabindex='-1']:focus {
	outline: none;
}

.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-content {
	display: block;
	padding-top: 35px;
}



hr {
	clear: both;
	border-top: solid #1c1d1d;
	border-width: 1px 0 0;
	margin: 30px 0;
	height: 0;
}

hr.hr--clear {
	border-top-color: transparent;
}

body, input, textarea, button, select {
	font-size: 17px;
	line-height: 1.6;
	font-family: "PT Sans","HelveticaNeue","Helvetica Neue",sans-serif;
	color: #1c1d1d;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
	font-weight: 700;
	margin: 0 0 0.5em;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
	text-decoration: none;
	font-weight: inherit;
}

h1, .h1 {
	font-size: 2.11765em;
}

h2, .h2 {
	font-size: 1.64706em;
}

h3, .h3 {
	font-size: 1.29412em;
}

h4, .h4 {
	font-size: 1.17647em;
}

h5, .h5 {
	font-size: 0.94118em;
}

h6, .h6 {
	font-size: 0.82353em;
}

p {
	margin: 0 0 15px 0;
	text-rendering: optimizeLegibility;
}

p img {
	margin: 0;
}

em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

small {
	font-size: 0.9em;
}

sup, sub {
	position: relative;
	font-size: 60%;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.5em;
}

blockquote {
	font-size: 1.125em;
	line-height: 1.45;
	margin: 0;
	padding: 15px 30px 40px;
}

blockquote p {
	margin-bottom: 0;
}

blockquote p + cite {
	margin-top: 15px;
}

blockquote cite {
	display: block;
	font-size: 0.75em;
}

blockquote cite:before {
	content: "\2014 \0020";
}

code, pre {
	background-color: #faf7f5;
	font-family: Consolas,monospace;
	font-size: 1em;
	border: 0 none;
	padding: 0 2px;
	color: #51ab62;
}

pre {
	overflow: auto;
	padding: 15px;
	margin: 0 0 30px;
}

ul, ol {
	margin: 0 0 15px 20px;
	padding: 0;
	text-rendering: optimizeLegibility;
}

ol ol {
	list-style: lower-alpha;
}

ol {
	list-style: decimal;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 4px 0 5px 20px;
}

li {
	margin-bottom: 0.25em;
}

ul.square {
	list-style: square outside;
}

ul.disc {
	list-style: disc outside;
}

ol.alpha {
	list-style: lower-alpha outside;
}

.no-bullets {
	list-style: none outside;
	margin-left: 0;
}

.inline-list {
	margin-left: 0;
}

.inline-list li {
	display: inline-block;
	margin-bottom: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.table-wrap {
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

th {
	font-weight: bold;
}

th, td {
	text-align: left;
	padding: 15px;
	border: 1px solid #1c1d1d;
}

.grid:after, .grid--rev:after, .grid--full:after, .grid-uniform:after {
	content: '';
	display: table;
	clear: both;
}

.grid__item.clear {
	clear: both;
}

.grid, .grid--rev, .grid--full, .grid-uniform {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -15px;
}



.grid__item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	min-height: 1px;
	padding-left: 15px;
	vertical-align: top;
	width: 100%;
}


.grid--small {
	margin-left: -10px;
}

.grid--small .grid__item {
	padding-left: 10px;
}

.grid--rev {
	direction: rtl;
	text-align: left;
}

.grid--rev > .grid__item {
	direction: ltr;
	text-align: left;
	float: right;
}

.grid--full {
	margin-left: 0;
}

.lt-ie9 .grid--full {
	margin-left: 0;
}

.grid--full > .grid__item {
	padding-left: 0;
}

.one-whole {
	width: 100%;
}

.one-half {
	width: 50%;
}

.one-third {
	width: 33.333%;
}

.two-thirds {
	width: 66.666%;
}

.one-quarter {
	width: 25%;
}

.two-quarters {
	width: 50%;
}

.three-quarters {
	width: 75%;
}

.one-fifth {
	width: 20%;
}

.two-fifths {
	width: 40%;
}

.three-fifths {
	width: 60%;
}

.four-fifths {
	width: 80%;
}

.one-sixth {
	width: 16.666%;
}

.two-sixths {
	width: 33.333%;
}

.three-sixths {
	width: 50%;
}

.four-sixths {
	width: 66.666%;
}

.five-sixths {
	width: 83.333%;
}

.one-eighth {
	width: 12.5%;
}

.two-eighths {
	width: 25%;
}

.three-eighths {
	width: 37.5%;
}

.four-eighths {
	width: 50%;
}

.five-eighths {
	width: 62.5%;
}

.six-eighths {
	width: 75%;
}

.seven-eighths {
	width: 87.5%;
}

.one-tenth {
	width: 10%;
}

.two-tenths {
	width: 20%;
}

.three-tenths {
	width: 30%;
}

.four-tenths {
	width: 40%;
}

.five-tenths {
	width: 50%;
}

.six-tenths {
	width: 60%;
}

.seven-tenths {
	width: 70%;
}

.eight-tenths {
	width: 80%;
}

.nine-tenths {
	width: 90%;
}

.one-twelfth {
	width: 8.333%;
}

.two-twelfths {
	width: 16.666%;
}

.three-twelfths {
	width: 25%;
}

.four-twelfths {
	width: 33.333%;
}

.five-twelfths {
	width: 41.666%;
}

.six-twelfths {
	width: 50%;
}

.seven-twelfths {
	width: 58.333%;
}

.eight-twelfths {
	width: 66.666%;
}

.nine-twelfths {
	width: 75%;
}

.ten-twelfths {
	width: 83.333%;
}

.eleven-twelfths {
	width: 91.666%;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}



.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.is-transitioning {
	display: block !important;
	visibility: visible !important;
}

.display-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}



.visually-hidden {
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.media, .media-flex {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}

.media-img {
	float: left;
	margin-right: 30px;
}

.media-img-right {
	float: right;
	margin-left: 30px;
}

.media-img img, .media-img-right img {
	display: block;
}

a, .text-link {
	color: #c7ac7f;
	text-decoration: none;
	background: transparent;
}

a:hover, .text-link:hover {
	color: #1c1d1d;
}

button {
	overflow: visible;
}

button[disabled], html input[disabled] {
	cursor: default;
}

.btn, .btn--secondary, .rte .btn--secondary, .rte .btn, .rte .btn--secondary {
	display: inline-block;
	padding: 8px 10px;
	margin: 0;
	width: auto;
	line-height: 1.42;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #1c1d1d;
	color: #fff;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-ms-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

.btn:hover, .btn--secondary:hover, .rte .btn:hover, .rte .btn--secondary:hover {
	-webkit-transition: background-color 0.15s ease-out;
	-moz-transition: background-color 0.15s ease-out;
	-ms-transition: background-color 0.15s ease-out;
	-o-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
	background-color: #3a3c3c;
	color: #fff;
}



#submit-btn:hover {
	background-color:  #fff;
	-webkit-transition: background-color 0.15s ease-out;
	-moz-transition: background-color 0.15s ease-out;
	-ms-transition: background-color 0.15s ease-out;
	-o-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
	color:  #3a3c3c;
	
}

.btn:active, .btn--secondary:active, .rte .btn:active, .rte .btn--secondary:active {
	-webkit-transition: background-color 0.15s ease-out;
	-moz-transition: background-color 0.15s ease-out;
	-ms-transition: background-color 0.15s ease-out;
	-o-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
	background-color: #585b5b;
	color: #fff;
}

.btn[disabled], [disabled].btn--secondary, .btn.disabled, .disabled.btn--secondary, .rte .btn[disabled], .rte [disabled].btn--secondary, .rte .btn.disabled, .rte .disabled.btn--secondary {
	cursor: default;
	color: #b6b6b6;
	background-color: #f6f6f6;
}

.btn--secondary, .rte .btn--secondary {
	background-color: #c7ac7f;
}

.btn--secondary:hover, .rte .btn--secondary:hover {
	background-color: #d7c3a2;
	color: #1c1d1d;
}

.btn--secondary:active, .rte .btn--secondary:active {
	background-color: #b7955c;
	color: #1c1d1d;
}

.btn--small {
	padding: 4px 5px;
	font-size: 0.70588em;
}

.btn--large {
	padding: 12px 15px;
	font-size: 0.94118em;
}

.btn--full {
	width: 100%;
}

.text-link {
	display: inline;
	border: 0 none;
	background: none;
	padding: 0;
	margin: 0;
}

img {
	border: 0 none;
}

svg:not(:root) {
	overflow: hidden;
}

img, iframe {
	max-width: 100%;
}

.video-wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	height: auto;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.table-wrap {
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

form {
	margin: 0;
}

.form-vertical {
	margin-bottom: 15px;
}



button, input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

button {
	background: none;
	border: none;
	display: inline-block;
	cursor: pointer;
}

fieldset {
	border: 1px solid #1c1d1d;
	padding: 15px;
}

legend {
	border: 0;
	padding: 0;
}

button, input[type="submit"] {
	cursor: pointer;
}

input, textarea, select {
	border: 1px solid #1c1d1d;
	max-width: 100%;
	padding: 8px 10px;
	border-radius: 0;
}

input[disabled], input.disabled, textarea[disabled], textarea.disabled, select[disabled], select.disabled {
	cursor: default;
	background-color: #f6f6f6;
	border-color: #b6b6b6;
}

input.input-full, textarea.input-full, select.input-full {
	width: 100%;
}

textarea {
	min-height: 100px;
}

input[type="checkbox"], input[type="radio"] {
	margin: 0 10px 0 0;
	padding: 0;
	width: auto;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
}

input[type="image"] {
	padding-left: 0;
	padding-right: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: right center;
	background-image: url("ico-select7f72.svg?4977908887757733745");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-color: transparent;
	padding-right: 28px;
	text-indent: 0.01px;
	text-overflow: '';
	cursor: pointer;
}

.ie9 select, .lt-ie9 select {
	padding-right: 10px;
	background-image: none;
}

optgroup {
	font-weight: bold;
}

option {
	color: #000;
	background-color: #fff;
}

select::-ms-expand {
	display: none;
}

.hidden-label {
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.ie9 .hidden-label, .lt-ie9 .hidden-label {
	position: static;
	height: auto;
	width: auto;
	margin-bottom: 2px;
	overflow: visible;
	clip: initial;
}

label[for] {
	cursor: pointer;
}

.form-vertical input, .form-vertical select, .form-vertical textarea {
	display: block;
	margin-bottom: 10px;
}

.form-vertical input[type="checkbox"], .form-vertical input[type="radio"], .form-vertical .btn, .form-vertical .btn--secondary {
	display: inline-block;
}

.form-vertical .btn, .form-vertical .btn--secondary {
	display: inline-block;
}

input.error, textarea.error {
	border-color: #d02e2e;
	background-color: #fff6f6;
	color: #d02e2e;
}

label.error {
	color: #d02e2e;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group .input-group-field:first-child, .input-group .input-group-btn:first-child, .input-group .input-group-btn:first-child > .btn, .input-group .input-group-btn:first-child > .btn--secondary, .input-group input[type="hidden"]:first-child + .input-group-field, .input-group input[type="hidden"]:first-child + .input-group-btn > .btn, .input-group input[type="hidden"]:first-child + .input-group-btn > .btn--secondary {
	border-radius: 0 0 0 0;
}

.input-group .input-group-field:last-child, .input-group .input-group-btn:last-child > .btn, .input-group .input-group-btn:last-child > .btn--secondary {
	border-radius: 0 0 0 0;
}

.input-group input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin-top: -1px;
	margin-bottom: -1px;
}

.input-group-field, .input-group-btn {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
}

.input-group .btn, .input-group .btn--secondary, .input-group .input-group-field {
	height: 37px;
}

.input-group .input-group-field {
	width: 100%;
}

.input-group-btn {
	position: relative;
	white-space: nowrap;
	width: 1%;
	padding: 0;
}

.selector-wrapper label {
	margin-right: 10px;
}

.selector-wrapper + .selector-wrapper {
	margin-top: 15px;
}

@font-face {
	font-family: 'icons';
  src: url("icons7f72.eot?4977908887757733745");
  src: url("icons7f72.eot?4977908887757733745#iefix") format("embedded-opentype"), url("icons7f72.woff?4977908887757733745") format("woff"), url("icons7f72.ttf?4977908887757733745") format("truetype"), url("icons7f72.svg?4977908887757733745#timber-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-fallback-text .icon {
	display: none;
}

.supports-fontface .icon-fallback-text .icon {
	display: inline-block;
}

.supports-fontface .icon-fallback-text .fallback-text {
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.icon:before {
	display: none;
}

.supports-fontface .icon:before {
	display: inline;
	font-family: "icons";
	text-decoration: none;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-amazon_payments:before {
	content: "\e800";
}

.icon-american_express:before {
	content: "\41";
}

.icon-arrow-down:before {
	content: "\e607";
}

.icon-arrow-left:before {
	content: "\e900";
}

.icon-arrow-right:before {
	content: "\e901";
}

.icon-bitcoin:before {
	content: "\42";
}

.icon-cart:before {
	content: "\e600";
}

.icon-cirrus:before {
	content: "\e904";
}

.icon-customer:before {
	content: "\e605";
}

.icon-dankort:before {
	content: "\64";
}

.icon-diners_club:before {
	content: "\63";
}

.icon-discover:before {
	content: "\44";
}

.icon-dogecoin:before {
	content: "\e908";
}

.icon-dwolla:before {
	content: "\e902";
}

.icon-facebook:before {
	content: "\e609";
}

.icon-fancy:before {
	content: "\46";
}

.icon-forbrugsforeningen:before {
	content: "\e903";
}

.icon-google_plus:before {
	content: "\67";
}

/* .icon-hamburger:before {
	content: "\e601";
} */

.icon-instagram:before {
	content: "\69";
}

.icon-interac:before {
	content: "\49";
}

.icon-jcb:before {
	content: "\4a";
}

.icon-laser:before {
	content: "\e907";
}

.icon-litecoin:before {
	content: "\e909";
}

.icon-maestro:before {
	content: "\e905";
}

.icon-master:before {
	content: "\e906";
}

.icon-minus:before {
	content: "\e602";
}

.icon-paypal:before {
	content: "\50";
}

.icon-pinterest:before {
	content: "\e608";
}

.icon-plus:before {
	content: "\e603";
}

.icon-rss:before {
	content: "\72";
}

.icon-search:before {
	content: "\73";
}

.icon-solo:before {
	content: "\e90a";
}

.icon-stripe:before {
	content: "\53";
}

.icon-switch:before {
	content: "\e90b";
}

.icon-tumblr:before {
	content: "\74";
}

.icon-twitter:before {
	content: "\54";
}

.icon-vimeo:before {
	content: "\76";
}

.icon-visa:before {
	content: "\56";
}

.icon-x:before {
	content: "\e604";
}

.icon-youtube:before {
	content: "\79";
}

.social-media-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	margin-bottom: 0;
}

.social-media-icons li {
	margin: 0 7.5px 7.5px;
	cursor: default;
}

.social-media-icons .icon {
	font-size: 30px;
	line-height: 30px;
}

.social-media-icons .fallback-text {
	text-transform: capitalize;
}

.social-icons .icon {
	padding-right: 4px;
}



.site-footer {
	padding-bottom: 30px;
}


.site-footer a {
	color: #1c1d1d;
}

.site-footer a:active {
	color: #000;
}



.note, .errors {
	border-radius: 0;
	padding: 6px 12px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	font-size: 0.9em;
	text-align: left;
}

.note ul, .note ol, .errors ul, .errors ol {
	margin-top: 0;
	margin-bottom: 0;
}

.note li:last-child, .errors li:last-child {
	margin-bottom: 0;
}

.note p, .errors p {
	margin-bottom: 0;
}

.note {
	border-color: #1c1d1d;
}

.errors ul {
	list-style: disc outside;
	margin-left: 20px;
}

.form-success {
	color: #56ad6a;
	background-color: #ecfef0;
	border-color: #56ad6a;
}

.form-success a {
	color: #56ad6a;
	text-decoration: underline;
}

.form-success a:hover {
	text-decoration: none;
}

.form-error, .errors {
	color: #d02e2e;
	background-color: #fff6f6;
	border-color: #d02e2e;
}

.form-error a, .errors a {
	color: #d02e2e;
	text-decoration: underline;
}

.form-error a:hover, .errors a:hover {
	text-decoration: none;
}

.pagination {
	font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0;
	padding: 60px 0 0;
	text-align: center;
	font-size: 0.82353em;
}

.pagination > span {
	display: inline-block;
	line-height: 1;
}

.pagination a {
	display: block;
}

.pagination a, .pagination .page.current {
	padding: 8px;
}

.pagination .page.current {
	color: #c7ac7f;
}

.pagination .next, .pagination .prev {
	font-family: arial, helvetica, sans-serif;
}

.rte {
	margin-bottom: 15px;
}

.rte:after {
	content: '';
	display: table;
	clear: both;
}

.rte p, .rte ul, .rte ol, .rte table {
	margin-bottom: 25px;
}

.rte ul ul {
	margin-bottom: 0;
}

.rte a {
	text-decoration: none;
}

.rte .text-link {
	border-bottom: 1px solid #c7ac7f;
}

.rte .text-link:hover, .rte .text-link:focus {
	border-bottom: 1px solid #1c1d1d;
}

.rte h1, .rte .h1, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.rte h2, .rte .h2, .rte h3, .rte .h3 {
	margin-top: 4em;
	margin-bottom: 2em;
}

.rte h1:first-child, .rte .h1:first-child, .rte h2:first-child, .rte .h2:first-child, .rte h3:first-child, .rte .h3:first-child, .rte h4:first-child, .rte .h4:first-child, .rte h5:first-child, .rte .h5:first-child, .rte h6:first-child, .rte .h6:first-child {
	margin-top: 0;
}

.rte h1 a, .rte .h1 a, .rte h2 a, .rte .h2 a, .rte h3 a, .rte .h3 a, .rte h4 a, .rte .h4 a, .rte h5 a, .rte .h5 a, .rte h6 a, .rte .h6 a {
	text-decoration: none;
}

.rte > div {
	margin-bottom: 15px;
}

.rte li {
	margin-bottom: 0;
}

.rte > p:last-child {
	margin-bottom: 0;
}

.rte table {
	table-layout: fixed;
}

.text-center .rte ul, .text-center .rte ol, .text-center.rte ul, .text-center.rte ol {
	list-style-position: inside;
	margin-left: 0;
}

.rte--nomargin {
	margin-bottom: 0;
}

.rte--indented-images img:not([style]), .rte--indented-images img[style="float: none;"] {
	max-width: 120%;
	margin-left: -10%;
}

.rte--indented-images img:not([style]).rte__no-indent, .rte--indented-images img[style="float: none;"].rte__no-indent {
	margin: 0 auto;
	max-width: 100%;
}

.rte--indented-images img[style="float: right;"] {
	margin: 0 -10% 15px 15px;
}

.rte--indented-images img[style="float: left;"] {
	margin: 0 15px 15px -10%;
}



.site-header {
	padding: 15px 200px 0;
	position: fixed;
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.site-header .grid--table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.site-header .grid--table > .grid__item {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.site-header__logo {
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: -57%;
}

.site-header__logo a, .site-header__logo a:hover {
	text-decoration: none;
}

.site-header__logo a.site-header__logo-link {
	margin: 0 auto;
}

.site-header__logo a, .site-header__logo img {
	display: block;
}

.site-header__logo img {
	margin: 0 auto;
	max-width: 180px;
}

.search-bar {
	max-width: 100%;
}

.search-bar--page {
	max-width: 300px;
	margin: 0 auto;
}

.search-bar--modal {
	max-width: 300px;
	margin: 20% auto 0;
}

.search-bar--header {
	max-width: 300px;
}

.is-dark .search-bar--header input {
	background-color: #e9e9e9;
}

.search-bar--drawer {
	margin-bottom: 15px;
}

.section-header {
	margin-bottom: 30px;
}



.section-header--404 {
	margin-bottom: 0;
	padding: 80px 0;
}

.site-nav {
	position: absolute;
	left: 55%;
	top: 10px;
}

.site-nav, .site-nav--mobile {
	cursor: default;
	margin: 0;
	
}

.site-nav__item {
	position: relative;
	display: inline-block;
	margin: 0;
}

.site-nav__item li {
	display: block;
}

.site-nav--mobile {
	margin-left: -10px;
}

.site-nav--mobile.text-right {
	margin: 0 -10px 0 0;
}

.site-nav__link {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	white-space: nowrap;
	color: #1c1d1d;
	font-size: 0.82353em;
}

.site-nav__link .icon-arrow-down {
	position: relative;
	top: -2px;
	padding-left: 7.5px;
	font-size: 10px;
}

.site-nav__link--icon {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.site-nav--mobile .site-nav__link {
	display: inline-block;
}

.site-nav--mobile .icon {
	font-size: 1.76471em;
}

.site-nav__dropdown {
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	z-index: 5;
}


#footer-logo {
	width: 10%;
	height: 10%;
}